apiVersion: kind.x-k8s.io/v1alpha4
kind: Cluster
# networking:
#   disableDefaultCNI: true        # do not install kindnet
#   kubeProxyMode: none            # do not run kube-proxy
nodes:
  - role: control-plane
    kubeadmConfigPatches:
      - |
        kind: InitConfiguration
        nodeRegistration:
          kubeletExtraArgs:
            node-labels: "ingress-ready=true"
    extraPortMappings:
      - containerPort: 80
        hostPort: 80
        protocol: TCP
      - containerPort: 443
        hostPort: 443
        protocol: TCP
